.idea
.env
.env.prod
.vscode
src/cache/
src/config/
src/log/
src/vendor
apidoc
logInsatall.log
.phpunit.result.cache
coverage/
src/plugins/orangehrmFunctionalTestingPlugin
.php-cs-fixer.cache
vendor/
**/.DS_Store
.php-cs-fixer.php
