$oxd-table-filter-background-color: $oxd-white-color !default;
$oxd-table-filter-border-radius: 1.2rem !default;
$oxd-table-filter-padding-top: 25px !default;
$oxd-table-filter-padding-bottom: 25px !default;
$oxd-table-filter-padding-left: 25px !default;
$oxd-table-filter-padding-right: 25px !default;
$oxd-table-filter-title-font-size: 14px !default;
$oxd-table-filter-title-font-weight: 800 !default;